li{
    list-style: none;
    display: inline-block;
    background-color: red;
    color:white;
}

body {
    background: antiquewhite;
}

div {
    font-size: 28px; font-weight: bold;
}
.title {
    background-color: aquamarine;
}

.p1 {
    background-color: powderblue;
}

button {
    padding: 10px;
    border-style: solid; border-color: blueviolet; border-radius: 10px;
    height: 100px;
    width: 200px;
}

footer {
    background-color: gray; color: white;
}